.logo{
	background-color: red;
	height: 15%;
	width: 100%;
	text-align: center;
	float: left;
}

.form{
	text-align: center;
}

.iu{
	text-align: center;
	background-color: green;
	height: 10%;
	width: 100%;
}

.exit{
	background-color: yellow;
	width: 20%;
	height: 15%;
	float: left;
	text-align: center;
}

.content{
	text-align: center;
	height: 50%;
	float: up;
}