.head{
	background-color: orange;
	height: 10%;
	text-align: center;
	margin: 0px;
}
.logo{
	text-align: center;
	background: blue;
	margin: 0px;
}
.con{
	text-align: center;
	background-color: green;
	height: 50%;
}
.down{
	height: 40%;
	text-align: center;
	background-color: yellow;
}
